@font-face {
	font-family: Handwritting;
	src: url("/static/font/lovely_eunike_hans.otf");
}
@font-face {
	font-family: JetBrainsMono;
	src: url("/static/font/JetBrainsMono[wght].ttf");
}

@font-face {
	font-family: msyh;
	src: url("/static/font/msyh.ttc");
}