{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static "chat/css/index.css" %}">
    <link rel="stylesheet" href={% static "icon/font_3291112_6wb3t6ppuia/iconfont.css" %}>
    <meta charset="UTF-8">
    <title>Chat</title>
</head>
<body>
<input id='username' type="hidden" value="{{ username }}" disabled="disabled">
<div class="toolbar">
    <div id="fill">
        <a href="/main">INFO2222 Project</a>
    </div>
    <div id="logout" class="toolBox">
        <span id="logoutIcon" class="iconfont icon-tuichudenglu"></span>
    </div>
</div>

<div class="content">
    <div class="navBar"></div>
    <div class="chatBar">
        <div class="chatBox"></div>
        <div class="writeBox">
            <div class="sendWindow" contenteditable="true"></div>
            <div class="sendButton">
                <button id="sendTextButton" type="button">Send</button>
            </div>
        </div>
    </div>
    <div class="inviteBar">

    </div>
</div>

<div class="bottomBar">

</div>

</body>
</html>
{#<script src="https://cdn.bootcdn.net/ajax/libs/jsencrypt/3.2.1/jsencrypt.js"></script>#}
<script src="{% static 'chat/js/encryptlong/bin/jsencrypt.js' %}"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/jsrsasign/10.5.13/jsrsasign-all-min.min.js"></script>
{#<script src="https://cdn.bootcss.com/jsencrypt/3.0.0-beta.1/jsencrypt.js"></script>#}
<script src="https://unpkg.com/axios@0.20.0/dist/axios.min.js"></script>
<script type="module" src="{% static "chat/js/login/basic.js" %}"></script>
<script type="module" src="{% static "chat/js/login/schedule.js" %}"></script>
<script type="module" src="{% static "chat/js/login/sendMessage.js" %}"></script>