{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static "chat/css/index.css" %}">
    <meta charset="UTF-8">
    <title>Chat</title>
</head>
<body>

<div class="toolbar">

</div>

<div class="content">
    <div class="navBar">
        <div class="userBox">
            user
        </div>
        <div class="userBox">
            user
        </div>
        <div class="userBox">
            user
        </div>
        <div class="userBox">
            user
        </div>
        <div class="userBox">
            user
        </div>
        <div class="userBox">
            user
        </div>
        <div class="userBox">
            user
        </div>
        <div class="userBox">
            user
        </div>
        <div class="userBox">
            user
        </div>
        <div class="userBox">
            user
        </div>
        <div class="userBox">
            user
        </div>
        <div class="userBox">
            user
        </div>
        <div class="userBox">
            user
        </div>
        <div class="userBox">
            user
        </div>
        <div class="userBox">
            user
        </div>
        <div class="userBox">
            user
        </div>
        <div class="userBox">
            user
        </div>
        <div class="userBox">
            user
        </div>
        <div class="userBox">
            user
        </div>
        <div class="userBox">
            user
        </div>


    </div>
    <div class="chatBar">
        <div class="chatBox">
            <div>
                <div class="bubble-right">
                    <div class="chatText">
                        《点兔》作品的舞台设定在一个以欧洲传统风格为基调的架空世界。作者广泛参考了法国斯特拉斯堡、科尔马的街道，以及匈牙利的温泉国际象棋等各式各样的元素，作为舞台设计的范本。
                    </div>
                </div>
            </div>
            <div>
                <div class="bubble-left">
                    <div class="chatText">
                        其中，主角们所在的“木结构小镇”（木組みの街）以现实中德国、法国东部的“半木结构民居”为蓝本，这种房屋的木框架裸露在墙体外，形成别具特色的风格。在作品中具有核心地位的咖啡店Rabbit House即为该风格的代表。小镇上既有贵族气质浓郁的大小姐高中，也有推出半工半读项目、广泛吸引小镇外各地学子的平民学校。此外，遍布在小镇各地、随处可见的野兔子，也是小镇的一大特色，小镇上的人们通过各种方式纪念兔子的同时，也不知不觉地染上了兔子的气质。
                    </div>
                </div>
            </div>
            <div>
                <div class="bubble-right">
                    <div class="chatText">
                        此外，主角们毕业旅行期间前往的“百桥闪耀之都”（百の橋と輝きの都），则似乎以旧称为“桥间之城”的斯德哥尔摩老城区为蓝本。
                    </div>
                </div>
            </div>
            <div>
                <div class="bubble-left">
                    <div class="chatText">
                        与西洋风格的街市相对的是，剧中的世界同时也存在日式校服、花火大会、文化祭等很多日式元素。也因此，即便是像甘兔庵这样的和风茶饮店也可以毫无违和感地融入进来。
                    </div>
                </div>
            </div>
            <div>
                <div class="bubble-right">
                    <div class="chatText">
                        虽然剧中人物大体保持了互联网诞生之前的生活习惯，但在需要的时候也可以自如使用手机等高科技的事物。
                    </div>
                </div>
            </div>

        </div>
        <div class="writeBox">
            <div class="sendWindow" contenteditable="true"></div>
            <div class="sendButton">
                <button id="sendTextButton" type="submit">Send</button>
            </div>

        </div>
    </div>
    <div class="inviteBar">

    </div>
</div>

<div class="bottomBar">

</div>

</body>
</html>