{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static "chat/css/index.css" %}">
    <meta charset="UTF-8">
    <title>Chat</title>
</head>
<body>

<div class="toolbar">

</div>

<div class="content">
    <div class="navBar">
        <div class="userBox">
            user
        </div>
        <div class="userBox">
            user
        </div>
        <div class="userBox">
            user
        </div>
        <div class="userBox">
            user
        </div>
        <div class="userBox">
            user
        </div>
        <div class="userBox">
            user
        </div>
        <div class="userBox">
            user
        </div>
        <div class="userBox">
            user
        </div>
        <div class="userBox">
            user
        </div>
        <div class="userBox">
            user
        </div>
        <div class="userBox">
            user
        </div>
        <div class="userBox">
            user
        </div>
        <div class="userBox">
            user
        </div>
        <div class="userBox">
            user
        </div>
        <div class="userBox">
            user
        </div>
        <div class="userBox">
            user
        </div>
        <div class="userBox">
            user
        </div>
        <div class="userBox">
            user
        </div>
        <div class="userBox">
            user
        </div>
        <div class="userBox">
            user
        </div>


    </div>
    <div class="chatBar">
        <div class="chatBox"></div>
        <div class="writeBox" >
            <div class="sendWindow" contenteditable="true"></div>
            <div class="sendButton">
                <button id="sendTextButton" type="submit">Send</button>
            </div>

        </div>
    </div>
    <div class="inviteBar">

    </div>
</div>

<div class="bottomBar">

</div>

</body>
</html>