{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static "forum/css/index.css" %}">
    <link rel="stylesheet" href="{% static "forum/css/ripple.css" %}">
    <link rel="stylesheet" href={% static "icon/font_3291112_6wb3t6ppuia/iconfont.css" %}>
    <link href="https://cdn.jsdelivr.net/npm/@wangeditor/editor@latest/dist/css/style.css" rel="stylesheet">
    <!-- 引入 js -->
    <script src="https://cdn.jsdelivr.net/npm/@wangeditor/editor@latest/dist/index.min.js"></script>
    <script type="module" src="{% static 'forum/js/index.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/prismjs@latest/components/prism-markup-templating.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/prismjs@latest/themes/prism.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/prismjs@latest/components/prism-core.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/prismjs@latest/prism.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/prismjs@latest/plugins/autoloader/prism-autoloader.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>
<div class="toolbar">
    <div id="fill">
        <a href="/main">INFO2222 Project</a>
    </div>
    <div id="logout" class="toolBox">
        <span id="logoutIcon" class="iconfont icon-tuichudenglu"></span>
    </div>
</div>
<div class="content">
    <div class="chatBar">
        <div class="blogBox">
            {#     start       #}
            <ul class="blog-item-box">
                {% for data in contents %}
                <li>
                    <article">
                        <div class="title">
                            {{ data.title }}
                        </div>
                        <div class="name">
                            {{ data.user }}
                        </div>
                        <div class="time">
                            {{ data.time | date:"Y-m-d H:i:s" }}
                        </div>
                        <div class="blogText">
                            {{ data.content | safe }}
                        </div>
                        {% if "forum.admin" in perms %}
                            <div class="article-admin" id="{{ data.id }}" >
                                <button type="button" class="mute-user">
                                    Mute User
                                </button>
                                <button type="button" class="delete-blog">
                                    Delete Blog
                                </button>
                            </div>
                        {% endif %}
                    </article>
                </li>
                {% endfor %}
            </ul>
        </div>
        {#     end       #}
        <div class="writeBox">
            <div class="titleBox">
                <div class="sendTitle" placeholder="Enter your title here" contenteditable="true"></div>
                <button id="showHideButton" class='ripple button ripple default' type="button">SHOW</button>
            </div>

{#            <div class="sendWindow" contenteditable="true"></div>#}

            <div class="contentBox">
                <div id="toolbar-container"></div>
                <div id="editor-container"></div>

                <div class="sendButton">
                    <button id="sendTextButton" type="button">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bottomBar"></div>
</body>
<script src="https://unpkg.com/axios@0.20.0/dist/axios.min.js"></script>
<script type="module" src="{% static "chat/js/login/basic.js" %}"></script>
<script type="module" src="{% static "forum/js/index.js" %}"></script>
{% if "forum.admin" in perms %}
    <script type="module" src="{% static "forum/js/admin.js" %}"></script>
{% endif %}
</html>

