{% load static %}
<head>
<link rel="stylesheet" type="text/css" href={% static "css/base/base.css" %}>
{#<script src="{% static "js/script_head.js" %}"></script>#}

<title>RE08 Group 01 Project</title>
</head>

{# write Css stylesheet in this block #}
{% block style %} {% endblock %}
{# write js script in this block #}
{% block js %} {% endblock %}

<header>
    <ul>
        <li><a class="active" href="/home">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/about">About</a></li>
        <li style="float: right"><a href="/register">Register</a></li>
    </ul>
</header>
<div id="topFix"></div>

{#<center><h2>Simple Student Templating Solutions</h2></center>#}
{##}
{##}
{#<h3><i>Because the usability is more important than the back end for now.</i></h3>#}

{#<p>#}
{#<img src="{% static "img/header.jpg" %}" alt="Some stuff that popped out of tensor flow" height="80%">#}
{#</p>#}

{% block body %} {% endblock %}

<footer>
<ul>
  <li>
    <a>1</a>
    <a>2</a>
    <a>3</a>
  </li>
</ul>
{#<script src="{% static "js/script_tail.js" %}"></script>#}

</footer>