{% extends "base.html" %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static "css/index/index.css" %}">
{% endblock %}

{% block body %}

    <div class="mainBox">
        <div id="group-number">RE08 Group 9</div>
            <div class="containPolaroid">
                <div class="polaroid rotate_right">
                    <img src="{% static 'img/home/chino.GIF' %}" alt="Chino~"/>
                    <p>Group Member:</p>
                    <p>Guanyi Du</p>
                    <p>Yuhan Wang</p>
                </div>
            </div>
    </div>


{% endblock %}