{% extends "base.html" %}
{% load static %}

{% block js %}
    <script charset="utf-8" src="{% static "js/register/register.js" %}"></script>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static "css/register/register.css" %}">
    <link rel="stylesheet" href={% static "icon/font_3291112_6wb3t6ppuia/iconfont.css" %}>
{% endblock %}

{% block body %}

    {#Login with a username and password#}

    <div id="registerBox">
        <form id="postForm">
            {% csrf_token %}
            <div id="textBox">User Register</div>
            <div class="input-group">
                <span class="iconfont icon-denglu"></span>
                <label for="username">
                    <input id="username"
                           class="inputBox"
                           name="username"
                           type="text"
                           placeholder="Username"
                           autocomplete="off"
                           autofocus="autofocus"
                    />
                </label>
            </div>
            <div class="input-group">
                <span class="iconfont icon-denglumima"></span>
                <label for="password">
                    <input id="password"
                           class="inputBox"
                           name="password"
                           type="password"
                           placeholder="Password"
                           autocomplete="new-password"/>
                </label>
            </div>
            <div class="input-group">
                <span class="iconfont icon-denglumima"></span>
                <label for="passwordCheckBox">
                        <input id="passwordCheckBox"
                               class="inputBox"
                               name="passwordCheckBox"
                               type="password"
                               placeholder="Input Password Again"
                               autocomplete="off"/>
                </label>
            </div>
            <input value="Register" type="button" id="submitButton"/>
        </form>
    </div>

{% endblock %}
